# IDE
.idea
.vscode/

# Mac things
.DS_Store
.private-*

# VIM Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# VIM Session
Session.vim

# Terraform stuff
.terraform
*.tfstate*
.terraform.lock.hcl

# Cypress test stuffs
node_modules
*.mp4
test/*.png

# directory level env variables
.env
.envrc

# bootstrap scripts
00-variables.conf
variables.conf

init
unseal.sh
set_root_token.sh
addons.yaml
8-public-tls.yaml
public-tls.yaml
chart
**values.yaml
istio-values.yaml
istio-cert.yaml
*.pem
*.crt
*.tgz
*.log
*.tar
*-values.yaml
x
.prereqs
push.sh
base/bigbang-dev-cert.yaml
x.yaml
refresh-istio.sh
private-registry.sh
istio-formatted.yaml
**auth**

# BigBang
bigbang.values
k8s-auth-example.sh
scripts/gitlab-keycloak.yaml
keycloak-gitlab.yaml
tests/cypress/node_modules
