{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "kms:Encrypt",
                "kms:Decrypt",
                "kms:DescribeKey",
                "kms:GenerateRandom"
            ],
            "Resource": [
                "*"
            ],
            "Effect": "Allow"
        }
    ]
}
