
#gpg --export-secret-key --armor ${fp} | kubectl -n bigbang create secret generic sops-gpg --from-file=bigbangkey.asc=/dev/stdin
#https://fluxcd.io/docs/components/kustomize/kustomization/#aws-kms-secret-entry
#---
#apiVersion: v1
#kind: Secret
#metadata:
#  name: sops-keys
#  namespace: default
#data:
#  sops.aws-kms: |
#        aws_access_key_id: some-access-key-id
#        aws_secret_access_key: some-aws-secret-access-key
#        aws_session_token: some-aws-session-token # this field is optional
